#.gitignore

target
lib
*.iml
*.class
.idea
.metadata
*.classpath
*.settings
*.project
*.jar
*.war
*.swp
logs
/logs
logs/
logs/**
.DS_Store
project
project.zip
project.rar
project.7z
*/.mvn
*/.mvn/**
*mvnw.cmd
*mvnw
.svn/
.svn/*
*.svn-base
out
gen

